<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Envíanos tu consulta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mensaje</ion-label>
          <ion-textarea required></ion-textarea>
        </ion-item>
        <ion-button expand="block" type="submit" class="ion-margin-top">Enviar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Sabri Pona Studio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Dirección:</strong> Alfredo Nobel 289, Jose C. Paz</p>
      <p><strong>Teléfono:</strong> 1132676674</p>
      <p><strong>Email:</strong> sabripona98&#64;gmail.com</p>
    </ion-card-content>
  </ion-card>
</ion-content>

