<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sabrina Pona Studio</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>

      <ion-label>Modelos Destacados</ion-label>


    </ion-list-header>
    @for (product of products; track product._id) {
    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="product.image" [alt]="product.name">
      </ion-thumbnail>
      <ion-label>
        <h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
        <p><strong>Precio:</strong> ${{product.price}}</p>
      </ion-label>
    </ion-item>
    }
  </ion-list>

</ion-content>